<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{sys/styles/login.css}">
</head>
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
            </dl>
            <dl class="wx">
                <dt>人工客服</dt>
            </dl>
            <dl class="wx">
               <dt>  </dt>
            </dl>
            <div class="login_submit">
                <a th:href="@{/forecast}" class="logo"><h1>开始评估</h1></a>
            </div>
        </div>
        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p>在线评估系统 </p>
            </div>
        </div>

    </div>
</div>
</html>
